.application-input-group {
    margin-bottom: 8pt;
}

.application-section {
    margin-top: 32pt !important;
}

.add-vehicle-button {
    margin-top: 32pt;
}

.request-price-button {
    margin-top: 32pt;
    margin-bottom: 32pt;
}

.application-price {
    font-size: 18pt;
    margin-top: 16pt;
}