.application-input-group {
    margin-bottom: 8pt;
}

.vehicle-input-group {
    margin-top: 32pt !important;
}

.add-vehicle-button {
    margin-top: 16pt;
}

.request-price-button {
    margin-top: 32pt;
    margin-bottom: 32pt;
}